.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksBox {
  border-radius: 5px;

  width: 60%;

  border: 1px solid #999999;
}

.tasksList {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 400px;


  overflow-y: auto;
}

