.addBoxContainer {
  margin: 20px 0;

  display: flex;
  justify-content: center;
}

.addBox {
  display: flex;
  justify-content: center;

  width: 90%;
}

.input {
  width: 100%;
  height: 40px;

  padding: 10px;

  //border-radius: 8px;
  outline: none;
  border: 1px solid #999999;

  margin-right: 5px;
}

.button {
  width: 100px;
  //border-radius: 8px;
  border: none;
  background-color: rgb(91 91 247);
  color: white;

  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(58, 58, 249);
}
